@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Roboto", sans-serif;
  color: #f2f2f2;
}

header {
  background: white;
  text-align: center;
}

header ul {
  list-style: none;
  height: 30px;
}

header ul li {
  display: inline-block;
}

header ul li a {
  padding: 10px 10px;
  text-decoration: none;
  color: #222;
  font-weight: bold;
}

main {
  background: #222;
  padding: 50px 0;
}

main .container {
  width: 90%;
  margin: 0 auto;
}

main .container h2 {
  font-size: 25px;
}

main .container section {
  margin: 40px 0;
}

main .container section .product {
  width: calc(100%/ 3);
  float: left;
  padding: 5px;
}

main .container section .product img {
  width: 100%;
}

main .container section .product .title {
  text-transform: uppercase;
  font-size: 20px;
  text-decoration: none;
  color: #f2f2f2;
}

main .container section .product svg {
  fill: #f2f2f2;
}

footer {
  background: white;
}

