@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

body {
  font-family: "Roboto", sans-serif;
  color: #f2f2f2;
}

header {
  background: white;
  text-align: center;
}

main {
  background: #222;
  padding: 50px 0;
}

main .container {
  width: 90%;
  margin: 0 auto;
}

main .container h2 {
  font-size: 25px;
}

main .container .product {
  width: calc(100%/ 3);
  float: left;
  padding: 5px;
}

main .container .product img {
  width: 100%;
}

main .container .product div .title {
  text-transform: uppercase;
  font-size: 20px;
}

main .container .product svg {
  fill: #f2f2f2;
}

footer {
  background: white;
}

