main {
  background-color: #b8dae4;
  padding: 30px 0;
}

main h1,
main img {
  text-align: center;
}

main h1 {
  color: #002d75;
}

main img {
  width: 100%;
}

main p {
  color: #002d75;
  font-size: 20px;
  line-height: 30px;
}

