
main {
    background: #222;
    padding: 50px 0;
    
    .container {
        width: 90%;
        margin: 0 auto;

        h2 {
            font-size: 25px;
        }

        .product {
            width: calc(100%/ 3);
            float: left;
            padding: 5px;

            img {
                width: 100%;
            }

            div .title {
                text-transform: uppercase;
                font-size: 20px;
            }

            svg {
                fill: $main_color;
            }
        }
    }
}
